<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">

<title>Repartidor</title>
</head>
<body>
	<header th:replace="layout :: header"> </header>
	
	
	<section class="deliveryMan">
		<div class="container py-5">
			<div class = "row text-center">
				<div class="col-lg-8 mx-auto col-md-12 col-sm-12 col-12">
					<h1>Repartidores</h1>
					<p class="p1">AhorraLand cuenta con entrega de productos a domicilio con el
						respectivo protocolo. Nuestros repartidores disponibles para
						entregar su compra:</p>
				</div>
			</div>
			
			<!-- REPARTIDOR VERSION 1 -->
			<div class="row pt-5">
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6 col-6">
							<img src="images/deliveryman/gatudo.jpg" class="img-fluid" alt=""></img>
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-6 pt-3">
							<h5>Rodrigo Cuba</h5>
							<small>DISPONIBLE</small>
							<p>Resido en Lima, Perú. Nacionalidad peruana. Trabajo en AhorraLand desde el segundo bimestre del año 2019.</p>
							<span><i class="fas fa-star"> 4,8 (745)</i></span>
							<div class="buttons-deliveryman">
								<button type="button" class="btn btn-light">Ver perfil</button>
								<button type="button" class="btn btn-light">Elegir repartidor</button>
							</div>
						</div>
					</div>

				</div>
				
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6 col-6">
							<img src="images/deliveryman/peluchin.jpg" class="img-fluid" alt=""></img>
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-6 pt-3">
							<h5>Rodrigo González</h5>
							<small>DISPONIBLE</small>
							<p>Resido en Lima, Perú. Nacionalidad peruana. Trabajo en AhorraLand desde el cuarto trimestre del año 2020.</p>
								<span><i class="fas fa-star"> 3,4 (140)</i></span>
							<div class="buttons-deliveryman">
								<button type="button" class="btn btn-light">Ver perfil</button>
								<button type="button" class="btn btn-light">Elegir repartidor</button>
							</div>
						</div>
					</div>

				</div>
				
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="row pt-5">
						<div class="col-lg-5 col-md-6 col-sm-6 col-6">
							<img src="images/deliveryman/gigi.jpg" class="img-fluid" alt=""></img>
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-6 pt-3">
							<h5>Gabriela Miranda Treviño</h5>
							<small>DISPONIBLE</small>
							<p>Resido en Lima, Perú. Nacionalidad peruana. Trabajo en AhorraLand desde el segundo bimestre del año 2018.</p>
								<span><i class="fas fa-star"> 4,1 (1145)</i></span>
							<div class="buttons-deliveryman">
								<button type="button" class="btn btn-light">Ver perfil</button>
								<button type="button" class="btn btn-light">Elegir repartidor</button>
							</div>
						</div>
					</div>

				</div>	
				
				<div class="col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="row pt-5">
						<div class="col-lg-5 col-md-6 col-sm-6 col-6">
							<img src="images/deliveryman/chamo.jpg" class="img-fluid" alt=""></img>
						</div>
						<div class="col-lg-7 col-md-6 col-sm-6 col-6 pt-3">
							<h5>Pedro Maduro Chará</h5>
							<small>DISPONIBLE</small>
							<p>Resido en Lima, Perú. Nacionalidad venezolana. Trabajo en AhorraLand desde el primer semestre del año 2021.</p>
								<span><i class="fas fa-star"> 2,5 (54)</i></span>
							<div class="buttons-deliveryman">
								<button type="button" class="btn btn-light">Ver perfil</button>
								<button type="button" class="btn btn-light">Elegir repartidor</button>
							</div>
						</div>
					</div>

				</div>	
			
		</div>
	</section>

	<footer th:replace="layout :: footer"> </footer>
</body>
</html>